{% extends 'base.html' %}

{% block title %}
    product list
{% endblock %}

{% block content %}
    <ul>
        {% for product in products %}

            <li >
                 <a href="{{ product.get_absolute_url }}">
                   {{product.title}} / price: {{product.price}}
                </a>
            </li>
        {% endfor %}
    </ul>
    <hr>
    <p>
        number of products : {{total_number_of_products}}
    </p>
    <p>
        {% comment %} avarege rating of product rating : {{avareg_ratings.rating__avg}} {% endcomment %}
    </p>
{% endblock  %}